
<div style="max-width:600px">

	<h4>Hola {{ user.getName() }}</h4>

	<p>Para restablecer tu contraseña, por favor haz clic en el siguiente enlace:</p>

	<a href="{{ confirmlink }}">{{ confirmlink }}</a>
	
</div>

 

 



