{% extends 'base.html.twig' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="card-panel">
				<form id='retrive_password_form'>
					<h4>Recuperar Contraseña</h4>
					<p>Para continuar con el proceso de recuperacion de contraseña por favor ingrese el correo electrónico configurado con la cuenta.</p>
					<div class="input-field">
						<input 
							name="email" 
							type="email" 
							class="form-control" 
							placeholder="Correo electrónico" 				
							required autofocus>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}">
					
					<div id="retrive_password_form_message"></div>
					
					<button class="btn"  id="retrive_password_form_button" type="submit">Enviar</button>	
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">	
		$(document).on('ready',function(){

			$('#retrive_password_form').validate({
				submitHandler:function(form){

					toggleButton("#retrive_password_form_button")

					$.post("{{path('recover_password_action') }}", $(form).serialize(), function(data){

						toggleButton("#retrive_password_form_button")

						$("#retrive_password_form_message").html('')

						if (data.success == true) {
							showMaterializeAlert("#retrive_password_form_message",'green lighten-3','done_all','Hemos enviado un correo a tu cuenta registrada para reestablecer tu contraseña.')
						}else{
							showMaterializeAlert("#retrive_password_form_message",'orange lighten-3','error',data.description)
						}

					})

				}
			})
		})
	</script>
	
{% endblock %}