{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col m8 offset-m2">
			<div class="card-panel">
				<h3>Establecer contraseña</h3>
				<p>Hola <strong>{{user.getName() }}</strong>. A continuación podrás asignar tu contraseña.</p>
				<form id='password_form'>
					<div class="input-field">
						<input						
							type="password"
							id="_password" 
							class="form-control pwcheck" 
							id="_password"
							name="_password"
							required >
						<label for="_password">Contraseña</label>
					</div>

					<div class="input-field">	
						<input
							type="password"
							class="form-control pwcheck" 
							id="_cpassword"
							name="_cpassword"
							required >
						<label for="_cpassword">Confirmar Contraseña</label>
					</div>

					<div id="password_form_message"></div>

					<button class="btn btn-success"  id="password_form_button" type="submit">Actualizar</button>
				</form>
			</div>
			
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(document).on('ready',function(){

		$('#password_form').validate({
			errorPlacement: function(error, element) {
				if (element.attr("name") == "_terms" || element.attr("name") == "_habeas" ) {
					error.css('color','red')
					error.insertAfter(element.next('label'));
					//element.next('label.invalid').css('color','red')
				} else {
					error.insertAfter(element);
				}
			},
			rules:{
				_cpassword:{
					equalTo: "#_password",
				}
			},
			submitHandler:function(form){

				toggleButton("#password_form_button")

				$("#password_form_message").html('')
				
				$.post("{{ path('update_password') }}",$(form).serialize(),function(data){

					toggleButton("#password_form_button")
					
					if (data.success == true) {
						location.assign(data.description)
					}else{
						showMaterializeAlert("#password_form_message",'orange lighten-3','error',data.description)
					}

				})
			}
		})

	})
</script>
{% endblock %}