<form id="genre" class="info_params">
    <h5 class="teal-text">Genero</h5>
    <p>Escoja el genero o los generos que desea incluir en el reporte.</p>
    <div class="row">
        <div class="col s12">
            <p class="col s4">
              <input type="checkbox" name="genre[]" id="test4_genre" value="MASCULINO" checked="checked" />
              <label for="test4_genre">Masculino</label>
            </p>
            <p class="col s4">
              <input type="checkbox" name="genre[]" id="test5_genre" value="FEMENINO" checked="checked" />
              <label for="test5_genre">Femenino</label>
            </p>  
        </div>
    </div>
</form>