/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/dev/*
/var/cache/de_/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/demography/*
/web/finantial/*
/web/health/*
/web/operative/*
